
@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/HelveticaNeueLTPro-Cn.woff2') format('woff2'),
        url('fonts/HelveticaNeueLTPro-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lateef';
    src: url('fonts/Lateef.woff2') format('woff2'),
        url('fonts/Lateef.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
        url('fonts/HelveticaNeueLTPro-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('fonts/HelveticaNeueLTPro-CnO.woff2') format('woff2'),
        url('fonts/HelveticaNeueLTPro-CnO.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url('fonts/AbrilFatface-Regular.woff2') format('woff2'),
        url('fonts/AbrilFatface-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aceituna';
    src: url('fonts/Aceituna-Regular.woff2') format('woff2'),
        url('fonts/Aceituna-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/AmaticSC-Bold.woff2') format('woff2'),
        url('fonts/AmaticSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amatic SC';
    src: url('fonts/AmaticSC-Regular.woff2') format('woff2'),
        url('fonts/AmaticSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
        url('fonts/DMSerifDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('fonts/DMSerifDisplay-Italic.woff2') format('woff2'),
        url('fonts/DMSerifDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Lucida Sans Std';
    src: url('fonts/LucidaSansStd.woff2') format('woff2'),
        url('fonts/LucidaSansStd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans Std';
    src: url('fonts/LucidaSansStd-Italic.woff2') format('woff2'),
        url('fonts/LucidaSansStd-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans Std';
    src: url('fonts/LucidaSansStd-Bold.woff2') format('woff2'),
        url('fonts/LucidaSansStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucida Sans Std';
    src: url('fonts/LucidaSansStd-BoldItalic.woff2') format('woff2'),
        url('fonts/LucidaSansStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rozha One';
    src: url('fonts/RozhaOne-Regular.woff2') format('woff2'),
        url('fonts/RozhaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

